// here all the values have been converted and expressed 
// as a ratio of base size which is $base = 10
//and the net base size is calculated on the basis of height of the parent container
// which in our case is ptable-element-wrapper having default height of 60px 
// stored in $element_height
//on the basis of $element_height, $size is calculated using ($base/60)*$element_height

.ptable-element {
    height: $size * 6;
    width: $size * 6;
    background: $table-element__bg-color;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $table-element__text-color;
    border-radius: $size * .2;
    padding: $size*.5 $size*.3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.205);

    &.A {
        border-bottom: $size * .25 solid rgb(241, 83, 35);
    }

    &.B {
        border-bottom: $size * .25 solid rgb(0, 150, 219);
    }

    &.C {
        border-bottom: $size * .25 solid rgb(192, 141, 0);
    }

    &.D {
        border-bottom: $size * .25 solid rgb(30, 89, 167);
    }

    &.E {
        border-bottom: $size * .25 solid rgb(192, 27, 27);
    }

    &.G {
        border-bottom: $size * .25 solid rgb(212, 200, 22);
    }

    &.H {
        border-bottom: $size * .25 solid rgb(75, 170, 15);
    }

    &.I {
        border-bottom: $size * .25 solid rgb(212, 0, 249);
    }

    &.J {
        border-bottom: $size * .25 solid rgb(0, 124, 58);
    }

    &.K {
        border-bottom: $size * .25 solid rgb(180, 64, 64);
    }

    &.L {
        border-bottom: $size * .25 solid rgb(0, 180, 156);
    }

    &__top-wrapper {
        display: flex;
        justify-content: space-between;
        align-self: stretch;
        margin-bottom: auto;

        .ptable-element__atomic-num {
            font-size: $size * $table-element__size-atomic-num;
        }

        .ptable-element__radioactive {
            height: $size * $table-element__size-radioactive-dot;
            width: $size * $table-element__size-radioactive-dot;
            border-radius: $size * 9.9;
            background: $table-element__radioactive_bg-color;
            position: absolute;
            top: $size * .4;
            right: $size * .4;
            display: none;

            &.show {
                display: block !important;
            }
        }
    }

    &__element-symbol {
        font-size: $table-element__size-symbol;
        line-height: .8;
        margin-bottom: $size * .4;
    }

    &__element-name {
        font-size: $table-element__size-name;
        font-weight: 400;
        padding: 0 $size * .3;
        text-align: center;
        white-space: nowrap;
        align-self: stretch;
        overflow: hidden !important;
        text-overflow: ellipsis;
    }
}