////////////////////
//// ptable
$table-background:#1d1c22;
$inner-scroll-wrapper:$table-background;



/////////////////////////
//// periods/groups bar
$period-group-thickness:26px; 
$priod-grup-base-bg:rgb(81, 81, 102);
$period-group-content-odd-bg:rgb(42, 42, 47);
$period-group-content-even-bg:rgb(25, 26, 29);

///////////////////////
//// ptable grid main
$table-grid-background:transparent;
$table-text-color: rgb(239, 240, 245);

// base element size
$element_height: 70px;
$element_width: $element_height;

$element-spacing:2px;

$table-wrapper-width:1500px;
$table-wrapper-height:1100px;

$table-width:($element_width*18)+($element-spacing*17);
$table-height:($element_height*11)+($element-spacing*10); //8 periods
$table-actual-height:($element_height*8)+($element-spacing*7); //full grid

///////////////////////////
//// single element

$base: 10; //(do not change)
//calculates all lengths based on the parent element's height
$size: ($base/60)*$element_height; //(do not change)

// $element_height  ->  $base
// 60               ->  10
// 1                ->  10/60
// 200              ->  (10/60)*200

//can be changed (required_value/10):
//eg: 22px  ->  2.2
$element__bg-color:rgba(0, 0, 0, 0.15);
$element__radioactive_bg-color: rgb(190, 191, 211);
$element__text-color: rgb(239, 240, 245);

$element__size-atomic-num: 1.2;
$element__size-radioactive-dot: .5;

$element__size-symbol: 1.8;

$element__size-name: 1.1;
//can add other variables as well... check in th scss file