////////////////////
//// top-bar
$top-bar__height: 50px;
$top-bar__bg:#19191f;

////////////////////
//// ptable
$table-background:#555261;
$inner-scroll-wrapper:$table-background;

/////////////////////////
//// periods/groups bar
$period-group__thickness:20px; 
$priod-grup__base-bg:rgb(23, 23, 24);
$period-group__content--odd-bg:rgb(47, 47, 66);
$period-group__content--even-bg:rgb(23, 23, 24);
$period-group__period-shadow:2px 0 4px rgba(0, 0, 0, 0.2);
$period-group__group-shadow:0 2px 4px rgba(0, 0, 0, 0.2);

///////////////////////
//// ptable grid main
$table-grid-background:transparent;
$table-text-color: rgb(255, 255, 255);

// base element size
$table-element_height: 60px;
$table-element_width: $table-element_height;

$table-element-spacing:4px;

$table-wrapper-width:1300px;
$table-wrapper-height:900px;

$table-width:($table-element_width*18)+($table-element-spacing*17);
$table-height:($table-element_height*11)+($table-element-spacing*10); //8 periods
$table-actual-height:($table-element_height*8)+($table-element-spacing*7); //full grid

///////////////////////////
//// single element

$base: 10; //(do not change)
//calculates all lengths based on the parent element's height
$size: ($base/60)*$table-element_height; //(do not change)

// $table-element_height->  $base
// 60                   ->  10
// 1                    ->  10/60
// 200                  ->  (10/60)*200

//can be changed (required_value/10):
//eg: 22px  ->  2.2
$table-element__bg-color:rgb(42, 42, 58);
$table-element__radioactive_bg-color: rgb(211, 212, 226);
$table-element__text-color: rgb(224, 224, 224);

$table-element__size-atomic-num: 1.2;
$table-element__size-radioactive-dot: .5;
$table-element__size-symbol: 1.8;
$table-element__size-name: 1.1;

$table-element__size-special-range:1.2;
$table-element__size-special-label:1.24;
$table-element__size-special-bg:rgba(5, 2, 29, 0.233);
//can add other variables as well... check in th scss file