// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap');

@import 'fonts';
@import 'helpers';
@import 'typography';

//=================================================
$mq-search-nav: 800px;
//=================================================

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @media (max-width:360px) {
    font-size: 54%;
  }

  @media (max-width:320px) {
    font-size: 49%;
  }

  @media (max-width:290px) {
    font-size: 42%;
  }

  @media (max-width:240px) {
    font-size: 32%;
  }

  @media (max-width:200px) {
    font-size: 34%;
  }
}

body {
  box-sizing: inherit;
  font-family: 'Lato', sans-serif;
  background: $table-background;
  box-sizing: border-box;
  color: #fff;
  height: 100vh;
  width: 100vw;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}