//color theme classes for elements of various categories

.bg_alkaline_earth_metals {
    background: $color-alkaline_earth_metals !important;
}

.bg_alkali_metals {
    background: $color-alkali_metals !important;
}

.bg_transition_metals {
    background: $color-transition_metals !important;
}

.bg_post_transition_metals {
    background: $color-post_transition_metals !important;
}

.bg_metalloids {
    background: $color-metalloids !important;
}

.bg_superactinides {
    background: $color-superactinides !important;
}

.bg_other_non_metals {
    background: $color-other_non_metals !important;
}

.bg_halogens {
    background: $color-halogens !important;
}

.bg_noble_gasses {
    background: $color-noble_gasses !important;
}

.bg_lanthanides {
    background: $color-lanthanides !important;
}

.bg_actinides {
    background: $color-actinides !important;
}

.bg_all_items {
    background: $color-all_items !important;
}