// here all the values have been converted and expressed 
// as a ratio of base size which is $base = 10
//and the net base size is calculated on the basis of height of the parent container
// which in our case is ptable-element-wrapper having default height of 60px 
// stored in $element_height
//on the basis of $element_height, $size is calculated using ($base/60)*$element_height

//EVERYTHING WILL BE CALCULATED ON THE BASIS OF $size = 10px VARIABLE
//WHICH DEPENDS UPON ELEMENT HEIGHT
//WHICH IVE ALREADY CONVERTED TO rem...

.ptable-element {
    height: $size * 6;
    width: $size * 6;
    background: $table-element__bg-color;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $table-element__text-color;
    border-radius: $size * .2;
    padding: $size*.5 $size*.3;
    box-shadow: 0 $size * .2 $size * .5 rgba(0, 0, 0, 0.205);
    transition: background .2s, color .2s, border-color .2s, box-shadow .2s;

    &.disabled {
        background: rgba(27, 26, 31, 0.219);
        color: rgb(163, 163, 173);
        border-color: rgb(125, 123, 136) !important;
        box-shadow: 0 $size *.1 $size *.2 rgba(0, 0, 0, 0.109);

    }

    &.special-container {
        background: $table-element__size-special-bg;
        padding: $size*.6 $size*.5;
        box-shadow: 0 $size *.2 $size *.4 rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: background .2s, color .2s, box-shadow .2s;


        &::before {
            content: '';
            height: $size *2;
            width: $size *2;
            background: #7bff00;
            position: absolute;
            top: $size *-1;
            left: $size *-1;
            transform: rotate(45deg);
            box-shadow: 0  $size *.2  $size *.4 rgba(0, 0, 0, 0.3);
            transition: background .2s;

        }

        .range {
            font-size: $size * $table-element__size-special-range;
        }

        .label {
            font-size: $size * $table-element__size-special-label;
            margin-top: $size * .4;
        }

        &.disabled {
            background: rgba(27, 26, 31, 0.219);
            color: rgb(163, 163, 173);
            box-shadow: 0 $size *.1 $size *.2 rgba(0, 0, 0, 0.109);


        }

        &.disabled::before {
            background: rgb(163, 163, 173);
        }

    }


    &.A {
        border-bottom: $size * .25 solid rgb(241, 83, 35);
    }

    &.B {
        border-bottom: $size * .25 solid rgb(0, 150, 219);
    }

    &.C {
        border-bottom: $size * .25 solid rgb(192, 141, 0);
    }

    &.D {
        border-bottom: $size * .25 solid rgb(30, 89, 167);
    }

    &.E {
        border-bottom: $size * .25 solid rgb(192, 27, 27);
    }

    &.G {
        border-bottom: $size * .25 solid rgb(212, 200, 22);
    }

    &.H {
        border-bottom: $size * .25 solid rgb(75, 170, 15);
    }

    &.I {
        border-bottom: $size * .25 solid rgb(212, 0, 249);
    }

    &.J {
        border-bottom: $size * .25 solid rgb(0, 124, 58);
    }

    &.K {
        border-bottom: $size * .25 solid rgb(180, 64, 64);
    }

    &.L {
        border-bottom: $size * .25 solid rgb(0, 180, 156);
    }

    &__top-wrapper {
        display: flex;
        justify-content: space-between;
        align-self: stretch;
        margin-bottom: auto;

        .ptable-element__atomic-num {
            font-size: $size * $table-element__size-atomic-num;
        }

        .ptable-element__radioactive {
            height: $size * $table-element__size-radioactive-dot;
            width: $size * $table-element__size-radioactive-dot;
            border-radius: $size * 9.9;
            background: $table-element__radioactive_bg-color;
            position: absolute;
            top: $size * .4;
            right: $size * .4;
            display: none;

            &.show {
                display: block !important;
            }
        }
    }

    &__element-symbol {
        font-size: $size * $table-element__size-symbol;
        line-height: .8;
        margin-bottom: $size * .4;
    }

    &__element-name {
        font-size: $size * $table-element__size-name;
        font-weight: 400;
        padding: 0 $size * .3;
        text-align: center;
        white-space: nowrap;
        align-self: stretch;
        overflow: hidden !important;
        text-overflow: ellipsis;
    }
}