.top-bar{
    background:$top-bar__bg;
    height:$top-bar__height;
    width:100%;
    position:absolute;
    padding:0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top:0;
    left:0;

    .title{
        font-size:1.8rem;
        display: flex;
        align-items: center;

        .logo-box{
            width:3.2rem;
            height:3.2rem;
            border-radius: 9.9rem;
            background: url('../img/logo.png'), rgb(255, 255, 255);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 2.8rem;
            margin-right:1.0rem;
        }
    }
    .credits{
        font-size:1.4rem;
        color:rgb(172, 173, 175);
    }
    a{
        text-decoration: none;
        margin-left: .2rem;
        color: inherit;
    }

}